@using Microsoft.AspNet.Identity;

@model AuctionSite.Models.AuctionItem

@{
    ViewBag.Title = "Auction Details";
}

<h2>Auction Details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>

        <dt>
            Images
        </dt>

        <dd>
            @foreach (var img in Model.Images)
            {
                <img src="@img.Path" height="80" />
            }
        </dd>

    </dl>
</div>

@if (!Model.User.Id.Equals(User.Identity.GetUserId()))
{
<div>
    <hr />
    <dl class="dl-horizontal">
        @using (Html.BeginForm("Bid", "AuctionItem"))
        {
            @Html.HiddenFor(model => model.AuctionItemID, new { htmlAttributes = new { @name = "id" } });

            <dt>
                <label class="control-label" for="price">Price</label>
            </dt>

            <dd>
                <input class="form-control col-md-1" type="number" name="amount" value="@Model.MinPrice" />
                <input type="submit" value="Bid On Item" class="btn btn-default" />
            </dd>
        }


    </dl>
</div>
}
<p>
    @if (Model.User.Id.Equals(User.Identity.GetUserId()))
    {
        @Html.ActionLink("Edit", "Update", new { id = Model.AuctionItemID })<text> | </text>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
